<template name="watsonExport">
	<section class="page-container page-list travelfoldercontent flex-tab-main-content">
		<div class="content">
			<div class="filtercontent p-l-10 p-r-10">
				<h4>Watson Vorschläge und Antworten</h4>

				<form action="javascript:void(0);" id="searchFormWatson">
					<input type="date" class="inputcontrol" id="datesearchWatson"  placeholder="Von">
					<input type="date" class="inputcontrol" id="datesearchWatson2"  placeholder="Bis"> <br/>
					<input type="number" class="inputcontrol" id="chatidWatson"  placeholder="ChatID"> <br/>
					<select class="inputcontrol" id="dienst" style="height:100px;" multiple placeholder="dienst">
					
					</select> <br/>
					<select class="inputcontrol" id="chatcategory"  placeholder="Kategorie">
					</select> <br/>
					<button>
					Suchen
					</button> 
					<br/>
					<br/>
					<br/>
					<a style="font-weight: 500;" href="javascript:void(0);" id="buttonClearFilter">
						Filter l&ouml;schen
					</a>
				</form>
				<p class="p-t-10 p-b-10">
				In dieser Ergebnisliste finden Sie eine Vorschau der ersten 100 Ergebnisse.
				</p>
				<a id="buttonWatsonDownload" href="javascript:void(0);">
				<b>Vollständige Liste nun Downloaden (CSV)</b>
				</a>
			<br />
			<br />
			<br />
				<a id="buttonClearCache" href="javascript:void(0);">
				<b>Watson Cache leeren</b>
				</a>
			</div>
			<table class="padded-table full-width">
			<tr>
				<th>
				Dienst
				</th>
				<th>
				ChatID
				</th>
				<th>
				Chat angenommen
				</th>
				<th>
				Chat eingegangen
				</th>
				
				<th>
				Antwortzeit
				</th>
				
				<th>
				Reaktionszeit
				</th>
				<th>
				Bearbeitszeit
				</th>
				<th>
				Chat geschlossen
				</th>

				<th>
				Intent
				</th>
				<th>
				Anfrage
				</th>

				<th>
				Watson-Antwort
				</th>

				<th>
				Alternativantwort
				</th>

				<th>
				Agent
				</th>
				<th>
				Übereinstimmungs-<br/>wahrscheinlichkeit
				</th>
				<th>
				Kategorie
				</th>

			</tr>
			{{#with chats}}
				{{#each chat in chats}}
					<tr class='liveChatOpenRow'>
						<td width="5%">
						{{chat.origin}}
						</td>
						<td width="5%">
						{{chat.code}}
						</td>
						<td width="7.5%">
							{{formatDate chat.takenTs "DD.MM.YYYY HH:mm:ss"}}
						</td>
						<td width="7.5%">
							{{formatDate chat.ts "DD.MM.YYYY HH:mm:ss"}}
						</td>
						
						<td width="7.5%">
						{{formatDate chat.respondedAt "DD.MM.YYYY HH:mm:ss"}}
						</td>
						
						<td width="7.5%">
						{{#if chat.respondedAt}}
						{{diffDate chat.ts chat.respondedAt}}
						{{/if}}
						</td>
						
						<td width="10%">
						{{#if chat.respondedAt}} 
						{{duration chat.processingtime}}
						{{/if}}
						</td>
						<td width="7.5%">
						{{formatDate chat.closedAt "DD.MM.YYYY HH:mm:ss"}}
						</td>
						
						
						
						<td width="10%">
						{{chat.intent}}
						</td>

						<td width="10%">
						{{chat.input}}
						</td>

						<td width="15%">
						{{chat.output}}
						</td>

						<td width="15%">
						{{chat.alternative}}
						</td>
						
						<td width="15%">
						{{chat.userid}}
						</td>
						<td width="5%">
						{{formatPercent chat.confidence}}
						</td>
						<td width="10%">
						{{chat.closereason}}
						</td>
					</tr>
				{{/each}}
			{{/with}}
			</table>
		</div>
	</section>
</template>
