<template name="visitorInfo_travelFolder">
	<div class="content">
		{{#if editing}}
			{{> visitorEdit (editDetails)}}
		{{/if}}
		{{#if forwarding}}
			{{> visitorForwardExtended (forwardDetails)}}
		{{/if}}
		<div class="user-view {{showDetail}}">
			<div class="about clearfix">
				{{#with user}}
					<div class="info">
						<h3 title="{{name}}"><i class="status-{{status}}"></i> {{name}}</h3>
						<!--<p class="secondary-font-color">{{name}}</p>-->

						<ul>
							{{#if utc}}<li><i class="icon-clock"></i>{{userTime}} (UTC {{utc}})</li>{{/if}}
							{{#each visitorEmails}} <li><i class="icon-mail"></i> {{address}}{{#if verified}}&nbsp;<i class="icon-ok success-color"></i>{{/if}}</li> {{/each}}
							{{#each phone}} <li><i class="icon-phone"></i> {{phoneNumber}}</li> {{/each}}
							{{#if lastLogin}} <li><i class="icon-calendar"></i> {{_ "Created_at"}}: {{createdAt}}</li> {{/if}}
							{{#if lastLogin}} <li><i class="icon-calendar"></i> {{_ "Last_login"}}: {{lastLogin}}</li> {{/if}}
							{{#if ip}}<li><i class="icon-laptop"></i><span>{{ip}}</span></li>{{/if}}
							{{#if os}}<li><i class="{{osIcon}}"></i><span>{{os}}</span></li>{{/if}}
							{{#if browser}}<li><i class="{{browserIcon}}"></i><span>{{browser}}</span></li>{{/if}}
						</ul>
					</div>
				{{/with}}

				{{#with room}}
					<div class="info">
						<ul>
							{{#if sms}}
								<li><i class="icon-mobile"></i>{{_ "SMS_Enabled"}}</li>
							{{/if}}
							{{#if topic}}
								<li><strong>{{_ "Topic"}}</strong>: {{topic}}</li>
							{{/if}}
							{{#if tags}}
								<li><strong>{{_ "Tags"}}</strong>: {{joinTags}}</li>
							{{/if}}
						</ul>
					</div>
				{{/with}}
			</div>

			{{#if canSeeButtons}}
				<nav class="centered-buttons">

					{{#if roomOpen}}
						<button class='button button-block close-livechat'><span><i class='icon-download'></i> {{_ "Close"}}</span></button>
						<button class="button button-block forward-livechat"><span><i class="icon-forward"></i> {{_ "Forward"}}</span></button>
					{{/if}}

					{{#if guestPool}}
						<button class="button button-block return-inquiry"><span><i class="icon-ccw"></i> {{_ "Return"}}</span></button>
					{{/if}}
					{{#if showTravelfolder}}
					<button class="button button-block ask-permission"><i class="icon-key"></i>Ask user for permissions</button>
					<button  id="travelfolder" class="button button-block travelfolder-info"><i class="icon-folder-open-empty"></i>Go to Travelfolder</button>
					<button  id="travelfolder2" class="button button-block travelfolder-order"><i class="icon-folder-open-empty"></i>Bestellung aufnehmen</button>
					{{/if}}
					<button  id="merge" class="button button-block travelfolder-merge"><i class="icon-folder-open-empty"></i>Chats zusammenführen</button>
					<button  id="chhistory" class="button button-block travelfolder-history"><i class="icon-folder-open-empty"></i>Chat History</button>
					<button  id="chrestart" class="button button-block travelfolder-restart"><i class="icon-folder-open-empty"></i>Wieder vorlegen</button>

				</nav>
			{{/if}}

			{{#if customFields}}
				<div class="visitor-custom-fields">
					<h4>{{_ "Custom_Fields"}}</h4>

					<div class="visitor-scroll">
						<ul>
							{{#each customFields}}
								<li>{{label}}: {{value}}</li>
							{{/each}}
						</ul>
					</div>
				</div>
			{{/if}}
			<h4 class="p-l-15 p-r-15">Notes</h4>
             <ul class="p-l-15 p-r-15">
				 {{#each note in notes}}
					 <li class="notesplit">
					 {{#if note.ts}}
					 <b>{{note.username}} ({{formatDate note.ts 'DD.MM.YYYY HH:mm'}}):</b>
					 {{/if}}
					 {{note.note}}</li>
				 {{/each}}
			</ul>
			<form class="note-form">
				<textarea></textarea>
				<button class="button m-t-10">Add Note</button>
			</form>

		</div>

	</div>



</template>
